nav{

    display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 190px;
}
 body {

font-family: sans-serif;
    font-weight: 800px;

 }

 .nav-item{
    color: #181818;
    font-size: 40px;
    font-weight: 800px;
 }
 
 .text-primary{
color: #FD6E0A;

 }

 nav >ul{

    display: flex;
    align-items: center;

}

nav li {
list-style: none;
margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: #000000;
}
.btn-primary{
border-radius: 5px;
background-color: #FD6E0A;
color: white;
font-size: 20px;
font: style 700px;;
padding: 15px 36px;

}

/* header related style  */

.header{
background-color: #fff7ee;

}

.banner{
    margin: 30px 30px 30px 150px;
display: flex;
align-items: center;
}
.pro-pic{
    width: 490px;
}